.footer-container{
  display: flex;
  justify-content: center;
  margin-top: auto !important;
  background-color: #101010;
  
  align-items: center;
  text-transform: capitalize;
  
  padding: 10px;
  color: #fff;
  font-size: 20px;
  position: bottom;

}


.footer-link{
  color: #fff;
}
 .footer-main{
  transition: all 0.3s linear;
}

.footer-main:hover{
  transform: scale(1.1);
}