.footer-container{
  display: flex;
  justify-content: center;
  margin-top: auto !important;
  background-color: #101010;
  margin: 0;

}

p{
  align-items: center;
  text-transform: capitalize;
  margin: 5px;
  padding: 5px;
  color: #fff;
  font-size: 20px;

}
.footer-link{
  color: #fff;
}
a {
  transition: all 0.3s linear;
}

p:hover{
  transform: scale(1.2);
}