.nav-container {
    display: flex;
    height: 72px;
    align-items: center;
    background: #2979b3;
    margin: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.26);
  }
  
  .nav-left {
    display: flex;
    align-items: center;
    margin-left: 20px;
    
  }
  .nav-text{
    size: 30px;
  }
  